<div class="row">
    <div class="col-md-12 section2">
      <h3>Team</h3>
      <img src="/img/logo_cosmos2.png" style="margin-top:10px; width:200px;">
    </div>
    <div class="col-md-12 section2">
      <h3>Arkchallenge</h3>
    </div>

    <div class="col-md-12 section1">

      <div class="col-md-4">
      <section class="text-center">
        <p3>A. Akhmad Wahid</p3>
        <img src="/img/wahid.png" style="margin-top:10px; width:120px;">
        </div>
        <div class="col-md-4">
        <section class="text-center">
            <p3>Muh. Kiko Aulia R.</p3>
            <img src="/img/kikoo.png" style="margin-top:20px; width:120px;">
            </div>
            <div class="col-md-4">
              <section class="text-center">
              <p3>A. Muh. Rif'aturrahman</p3>
              <img src="/img/rifat.png" style="width:120px;">
              </div>

    </div>
  </div>
