<div class="row">
    <div class="col-md-12 section1">

        <section class="text-center">

           <h1>COPYRIGHT 2018</h1>
            <p3>Your conseling monitoring solution.</p3>
        </section>
    </div>
  </div>
