<div class="row bg-dark pt-3 pb-3 text-white">
    <div class="col-md-8 col-sm-12">
    <a href="/"><img src="/img/logo.jpg" style="width:120px;"></a>
    </div>
    <div class="col-md-1 col-sm-12">
    <a href="/news">News</a>
    </div>
    <div class="col-md-1 col-sm-12">
     <a href="/chat_menu">Chat</a>
    </div>

    <div class="col-md-1 col-sm-12">
    <a href="/report_input">Report</a>
    </div>
    <div class="col-md-1 col-sm-12">
    <a href="javascript:void(0);" onclick="logout();">Logout</a>
    </div>
</div>
