a {

    font-family: century gothic;
    text-decoration: none;
    color: white;
    transition: 0.2s;
    font-size: 18px;
}


.home{
  height: 90vh;
  color: #fff;
  position: relative;

}


.mylink:hover{
    text-decoration: none;
    color:tomato;
    border-left: 2px solid #fff;
    padding-left: 6px;
}

body{
    background:url('/img/Picture1.jpg');
    display: flex;
    height: 100vh;
    background-position: center;
    position: relative;
    background-size: cover;
}

.section{
 font-size: 50px;
 background: url('/img/Picture1.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    color: #fff;
    position: relative;
    background-position: center;
    background-size: cover;
    text-transform: uppercase;


}

.section1{
 background: #343a40;
 background-repeat: repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    color: #fff;
    position: relative;
    background-position: center;
    text-transform: uppercase;


}
.gradient {
    background: -moz-linear-gradient(-45deg, #ff000080(255, 0, 251, 0.5) 0%, rgba(51, 38, 38, 0.5) 100%);
    background: -webkit-linear-gradient(-45deg, #ff000080 0%, rgba(51, 38, 38, 0.5) 100%);
    background: linear-gradient(135deg, rgba(255, 0, 0, 0.5) 0%, rgba(51, 38, 38, 0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ff00fb', endColorstr='#800018ff', GradientType=1);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

p{
    text-align: center;
    font-size: 20px;
    color: #fff ;
}

p3 {
  text-align: center;
  font-size: 15px;
  color: #fff ;
}

p2{
    text-align: center;
    font-size: 20px;
    color: #ff5050;
}

p1{
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}

.btn{
    position: center;
}

#app{
  text-align:left;
    margin-top:20 auto;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:url('/img/1.png');
    height:400px;
    width:500px;
    border:8px solid #333;
    border-radius: 15px;
    overflow:auto; }
#msg{
    width: 60px;
}

#lol{
  text-align:left;
    padding-top: 10px;
    margin:0 auto;
    margin-bottom:25px;
    width:430px;
}

<<<<<<< Updated upstream
.bg-white {
    background-color: #fff!important;
    height: 695px;
}

.col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 30px;
        height: 90vh;
}

li{
  background: #343a40;
  padding: 5px 20px;
  border-radius: 10px;
  transition: 0.2s;
}

ul{
  list-style-type: circle;
}

h1{
  color: white;
  text-align: center;
  margin-bottom: 20px;
}
=======
#artikel{
    text-align:left;
    margin-top:10 auto;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:#fff;
    height:270px;
    width:430px;
    border:1px solid #ACD8F0;
    overflow:auto; }
>>>>>>> Stashed changes


}
