<!DOCTYPE html>
<html>
<head>
  <%- include('global/head'); -%>
   <%- include('global/library'); -%>
</head>


        <div class="container-fluid">
             <%- include('global/navigasi'); -%>

             <div class="row justify-content-md-center">
               <div class="col-md-6 col-sm-6">
                 <h1><u>Personal Chat</u></h1>
                 <div id="app">
                   <div v-for="data in chat">
                     <ul>
                       <li>
                         <p class="text-left" name="user" id="user"><strong>{{data.user}}</strong></p>
                         <p class="text-left" name="msg" id="msg">{{data.pesan}}</p>
                       </li>
                     </ul>

                   </div>

                 </div>
                 <div class="input-group mb-3" id="lol">
                   <input  id="pesanTxt" type="text" class="form-control" placeholder="Masukkan pesan anda" aria-label="Recipient's username" aria-describedby="button-addon2">
                   <div class="input-group-append">
                     <button id="kirimBtn" class="btn btn-danger" type="button" id="button-addon2">Kirim</button>
                   </div>
                 </div>

               </div>
            </div>
        </div>





       <%- include('global/logincheck'); -%>
       <script type="text/javascript">
       let userName;

     firebase.auth().onAuthStateChanged(function(user) {
       if (user) {
         db.ref('/users/' + user.uid).once('value').then(function(snapshot) { // load 1x
           //   db.ref('/users/' + user.uid).on('value', function(snapshot) { // load realtime
               var userData = snapshot.val();
               var app = new Vue({
                el: '#app',
                firebase: {
                     chat: db.ref('chat/personal/' + user.uid).limitToLast(50)
                }
              });

           });

           userName = user.displayName;

           $("#kirimBtn").click(function(){
               var pesan = $("#pesanTxt").val();

               db.ref('/users/' + user.uid).once('value').then(function(snapshot) { // load 1x
                 //   db.ref('/users/' + user.uid).on('value', function(snapshot) { // load realtime
                     var userData = snapshot.val();
                     db.ref('chat/personal/' + user.uid).push({
                       user:userName,
                       pesan:pesan
                     });

                   });

               $("#pesanTxt").val("");
            });

       }


     });



       </script>

</body>


</html>
