<!DOCTYPE html>
<html>
<head>
   <%- include('global/head'); -%>
</head>
<body>

  <div class="container-fluid">
       <%- include('global/navigasi'); -%>

       <div class="row justify-content-md-center">
           <div class="col-md-6 col-sm-6">
                  <div id="app">

                      <ul>
                        <li v-for="data in chat">
                          <a :href="'/chat_personal/' + data['.key']"><p class="text-left"><strong>{{data.nama}}</strong></p></a>
                        </li>
                      </ul>

                  

                </div>
                </div>
            </div>
        </div>




       <%- include('global/library'); -%>
       <%- include('global/logincheck'); -%>
       <script type="text/javascript">
       let userName;




         var app = new Vue({
          el: '#app',
          firebase: {
            chat: db.ref('users/')
          }
        });





       </script>

</body>

</body>


</html>
