<!DOCTYPE html>
<html>
<head>
   <%- include('global/head'); -%>
</head>
<body>

  <div class="container-fluid">
       <%- include('global/navigasi'); -%>

       <div class="row justify-content-md-center">
           <div class="col-md-6 col-sm-6">
                  <div id="app">
                    <div v-for="data in chat">
                      <ul>
                        <li>
                          <p2 class="text-left"><strong>{{data.user}}</strong></p>
                          <p1 class="text-left">{{data.pesan}}</p>

                        </li>
                        <br>
                        <li>
                          <p2 class="text-left"><strong>{{data.user}}</strong></p>
                          <p1 class="text-left">{{data.pesan}}</p>

                        </li>
                      </ul>

                    </div>

                </div>
                </div>
            </div>
        </div>




       <%- include('global/library'); -%>
       <%- include('global/logincheck'); -%>

</body>


</html>
