<!DOCTYPE html>
<html>
<head>
   <%- include('global/head'); -%>
</head>
<body>

        <div class="container-fluid">
             <%- include('global/navigasi'); -%>

            <div class="row">
                <div class="col-md-6 mt-5">
                      <h1 align="center"><strong>COMING SOON</strong></h1>
                </div>
                <div class="col-md-6 mt-5">
                      <h1 align="center"><strong>COMING SOON</strong></h1>
                </div>
            </div>
        </div>




       <%- include('global/library'); -%>
       <%- include('global/logincheck'); -%>

</body>


</html>
